name: App CI

on:
  push:
    paths:
      - '.github/workflows/publish.yml'
      - '.devcontainer/Dockerfile.*'
      - 'python/**'

jobs:
  publish-docker-images:
    name: Publish Service Docker Images
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - dockerfile: .devcontainer/Dockerfile.backend
            image: ghcr.io/${{ github.repository }}-backend
          - dockerfile: .devcontainer/Dockerfile.frontend
            image: ghcr.io/${{ github.repository }}-frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ matrix.image }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}